*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway','Roboto','Source Sans Pro', sans-serif;
    font-size: large;
}
h3,h2,h1
{
    font-family: 'Source Sans Pro','Roboto', sans-serif;
    font-weight: bold;
}

/*********************Haut de page****************************/    
     /*partie menu*/
.gris
{
    background-color: rgb(231, 229, 229);
    padding: 0 5px;
}
.terre /*logo*/
{
    margin-left: -7%;
}
button 
{
    margin-left: 22%;
}
.texte
{
    font-weight: bold;
    font-size: 27px;     
}
.texte:hover
{
    background-color: rgba(180, 106, 241, 0.534);
    width: 110%;
    margin-left: 30%;    
}

        /*partie bannière*/
.img
{
    background-repeat:no-repeat ;
    background: cover;   
}

.bordure0
{
    border-top:3px solid rgb(219, 56, 198);
}
li
{
    list-style-type: none;
}
/************************Page principal*******************/
            /*partie présentation photo et texte*/
.photo
{
   margin-left: 25%;
   margin-bottom: 3%;
}
.objectif
{
    color:rgb(180, 106, 241) ;
}

            /*partie présentation texte*/
.h2index
{
    color:rgb(180, 106, 241) ;
    font-size: 1.6em;
}        
p
{
    padding: 4% 0;    
}
.motsgras
{
    font-size: 1.1em;
}
        /*partie redirection sur autre page et animation*/

.shadow a
{
    color:rgb(180, 106, 241 );
    
}
.shadow
{
    margin: 0 auto;
    position: relative;
    background-color: #000;
    text-align: center;
    width: 50%;
    height: 6%;
    background: linear-gradient(0deg,#000,#262626);
}
.shadow:before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
    background-size: 400%;
    width:calc(100% + 4px) ;
    height:calc(100% + 4px) ;
    z-index: -1;
    animation: animate 15s linear 8s;
}
.shadow:after
{
   filter:blur(20px) ; 
}
@keyframes animate
{
    0%
    {
        background-position: 0 0;
    }
    50%
    {
        background-position: 300% 0;
    }
    100%
    {
        background-position: 0 0;
    }
}


            /*partie 3 colonnes*/
.categorie
{
    margin-top: 6%;
}
.bordure
{
    border:1px solid rgb(180, 106, 241);
}
h3
{
    text-align: center;
    font-size: 1.8em;
}
hr
{
    background-color: rgb(231, 229, 229);   
}
i
{
    padding-left: 2%;
}
.bordure li
{
    font-size: 1em;
}
            /*icone compétences*/
.iconecompetences 
{
    display: flex;
    justify-content: center;
   
}
.iconecompetences li 
{
    font-size: 20px;
}



/*********************Page expériences***********************/
         /*partie compétences*/
.h1expe
{
    text-align: center; 
    font-size: 1.1em;
    padding-top: 3%;  
}
.imgmetier
{
    margin-left: 6%;
    width: 90%;
}
p /*tout les p de mes pages*/
{
    width: 90%;
    margin-left: 7%;
}

        /*partie stage*/
.h2expe /*titre*/
{
    font-size: 1.3em;
    text-align: center;
    margin: 6% 0;
    color: rgb(180, 106, 241);
}
.important
{
    border: 3px dotted rgb(180, 106, 241);
    padding: 2%;
}
    /*partie expériences professionnelles*/
li
{
    list-style-type: none;
    font-size: 0.8em;
}
em 
{
    text-decoration: underline;
}
.emploi
{
margin-top: 10%;
}

/************************Page de projets*****************/
.bodyproj
{
    background-color: rgba(180, 106, 241, 0.534);
    ;
}
.h1projet
{
    text-align: center;
    padding-top: 3%;
    font-size: 1.8em;
}
.h2projet
{
    font-size: 1.5em;
    text-align: center;
    margin-top: 2%;
    color: rgb(219, 56, 198);
}
.groupe .pprojet 
{
    
    margin-left: 15%;
}
a 
{
    color:black;
}            
hr 
{
    background: rgb(219, 56, 198);
}
/***********************Pied de page*********************/          
            /*footer*/
footer
{
    border-top:3px solid rgb(219, 56, 198);
    
}
.fond
{
    background-color: rgb(32, 31, 31);
    color: white;
    padding-left: 8%;
}
form
{
    display:inline-block;
}

.box input,.box textarea
{
    max-width: 80%;
    
    border-bottom: 4px solid rgb(219, 56, 198);
}
.box button[type="submit"], [type="reset"]
{
    border-bottom:none;
    cursor: pointer;
    background: rgb(180, 106, 241);   
}

i /*coordonnee*/
{
    color: rgb(180, 106, 241);
}
span
{
    color: rgb(180, 106, 241);
    font-size: 25px; 
}


        /*partie coordonnée*/

.cv
{
    color: rgb(180, 106, 241);
}
            /*flèche haut et bas*/
.top 
{
    position: fixed;   
    height: 10%; 
    bottom: 13%; 
    left: 90%; 
    cursor: pointer;
}
.bas
{
    position: fixed;       
    height: 3%; 
    bottom: 6%; 
    left: 90%;   
    cursor: pointer;
}
        /*************Page principal********************/

            /*média queries*/
@media screen and (min-width:360px)
{
  .terre
  {
      padding-left:7%;
  }
  button 
  {
      margin-left: 28%;
  }
  .photo
  {
      margin-left: 27%;
  }
  .objectif
  {
      margin-left: 4%;
  } 
  
}    
@media screen and (min-width:480px) 
{
  .terre
  {
      padding-left:25%;
  }
  button 
  {
      margin-left: 33%;
  }
  .photo
  {
      margin-left: 30%;
  }
  .h2index 
  {
      padding-left: 18%;
  }
  .coordonnee li 
    {
        font-size: 20px;
    }
    .fond span, .coordonnee span
    {
        font-size: 1.6em;
    }
}   
@media screen and (min-width:576px) 
{
            /*logo et bouton menu*/
    .terre
    {
        padding-left:0;
    }
    button 
    {
        margin-left: 0;
    }
            /*Présentation*/
    .presentation
    {
        display: flex;
        flex-direction: column;
        margin-left: 10%;   
    }
    .h2index 
    {
        padding-left: 20%;
        font-size: 1.5em;
    }
    .photo
    {
        margin-left: 80%;
    }
    .objectif .gris 
    { 
        padding-left:5%;
        font-size: 1.2em;
        width: 250%;    
    }   
    .passion
    {
        font-size: 1.2em;
        width: 120%; 
    }
    .shadow
    {
        margin-top: 20%;
        margin-left: 40%;
    }
            /*Partie catégorie*/
    
            
    .categorie .h3index 
    {
      font-size: 25px;     
    }

    .pers li ,.mescomp li ,.mesform li 
    {
        font-size: 20px;
    }
            /*Footer*/
    .contact
    {
        padding-left: 0;
    }
    .fond span, .coordonnee span
    {
        font-size: 1.1em;
    }
    .coordonnee
    {
        padding-left: 0;
    }
    .coordonnee li 
    {
        font-size: 17px;
    }
    .top, .bas
    {
        left: 93%;
    } 
}
@media screen and (min-width:768px)
{
            /*Présentation*/
    .presentation
    {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;    
    }
    .photo
    {
        margin-left: 18%;
    }
    .objectif .gris 
    { 
        padding-left:2%;
        font-size: 1em;
        width: 100%;    
    }
    .h2index 
    {
        font-size: 1.5em;
        margin-left: 1%;
    }
    .passion
    {
        font-size: 1em;
        width: 95%;
        padding-left: 5%;
    }
    .shadow
    {
        margin: 0 auto;
    }
        /*Footer*/
    .fond span, .coordonnee span
    {
        font-size: 1.4em;
    }
    .coordonnee li 
    {
        font-size: 1.1em;
    }
   .top, .bas
   {
       left: 95%;
   } 
}
@media screen and (min-width:992px)
{
            /*Présentation*/
   .texte
   {
       font-size: 1em;
   }
   .objectif p 
   {
        font-size: 1.2em;
   }
   .photo
   {
       margin-left: 25%;
   }
   .h2index 
   {
        font-size: 1.8em;
   }
   p 
   {
        font-size: 1.2em; 
   }
   .shadow
   {
       margin-top: 10%;
   }
        /*catégorie*/
    .categorie .h3index /*titre page d'acceuil*/ 
    {
        font-size: 28px;     
    }
    .pers li ,.mescomp li ,.mesform li 
    {
        font-size: 1.1em;
    }
    .iconecompetences li
    {
        font-size: 1em;
    }
    /*Footer*/
    .fond span, .coordonnee span
    {
        font-size: 1.6em;
    }
    .coordonnee li 
    {
        font-size: 24px;
    }
    .top, .bas
   {
       left: 97%;
   }
}
@media screen and (min-width:1200px)
{
    .texte
   {
       font-size: 1.3em;
   }
   .photo
   {
       margin-left: 30%;
   }
   .objectif .gris 
    { 
    padding-left:2%;
    font-size: 1.2em;
        
    }
    .h2index 
    {
        font-size: 1.7em;
        margin-left: 1%;
    }
    .passion
    {
        font-size: 1.2em;  
        padding-left: 5%;
    }
    .shadow
    {
        margin: 0 auto;
    }
    .iconecompetences li
    {
        font-size: 1.2em;
    }
    .coordonnee li 
    {
        font-size: 1.4em;
    }
    .fond span, .coordonnee span
    {
        font-size: 1.8em;
    }
    .top, .bas
    {
        left: 98%;
    }
}

            /********Page expériences********/

@media screen and (min-width:360px)
{
   /*partie compétences*/
   .imgmetier
   {
       width: 80%;
       margin-left: 10%;
   } 
   .emploi
   {
       font-size: 0.9em;
   }    
}
@media screen and (min-width:480px)
{
    .emploi li
    {
        font-size: 1em;
    }       
}            
@media screen and (min-width:576px)
{
    .page2 /*titre*/
    {
        font-size: 1.1em;
    }
        
}
@media screen and (min-width:768px)
{
  .emploi
  {
      margin-top: 3%;
  }  
}
@media screen and (min-width:992px)
{
    .emploi li,strong
    {
        font-size: 1.2em;
    } 
}
@media screen and (min-width:1200px)
{
    .emploi li
    {
        font-size: 1.4em;
    }
}

                /*Page projets*/

@media screen and (min-width:360px)
{
    .groupe
    {
        margin-left: 0.5%;
    }
    .groupe a 
    {
        padding-left: 0;
    }
    .groupe .pprojet
    {
        margin-left: 10%;  
    }
}
@media screen and (min-width:480px)
{
    .groupe
    {
        margin-left: 15%;  
    }
}
@media screen and (min-width:576px)
{
    .groupe
    {
        margin-left:20%;
    }
    .groupe .pprojet
    {
        margin-left: 7%;  
    }
}
@media screen and (min-width:768px)
{
    .groupe
    {
       margin-left: 0.5%; 
    }
    .groupe  a img
    {
        width: 150px;
    }
    .groupe a 
    {
        font-size: 0.8em;
    }
    .groupe .pprojet 
    {
        font-size: 1em;
        margin: 0;
    }
}
@media screen and (min-width:992px)
{
    .groupe
    {
        margin-left: 0.5%;
    }
    .groupe  a img
    {
        width: 200px;
    }
}
@media screen and (min-width:1200px)
{
    .groupe
    {
        margin-left: 4%;
    }
}
@media screen and (min-width:1400px)
{
    .groupe
    {
        margin-left: 7%;
    }
