*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    font-size: large;
}    
     /*partie menu*/
.gris
{
    background-color: rgb(231, 229, 229);
}
.texte
{
    font-weight: bold;
    font-size: 27px;
    color: rgb(219, 56, 198);    
}
.texte:hover
{
    background-color: rgba(180, 106, 241, 0.534);
}

        /*partie bannière*/
.img
{
    background-repeat:no-repeat ;
    background: cover;   
}

.bordure0
{
    border-top:3px solid rgb(219, 56, 198);
    border-bottom:3px solid rgb(219, 56, 198);
}
li
{
    list-style-type: none;
}
            /*partie présentation photo et texte*/
.photo
{
   margin-left: 18%;
}
.objectif
{
    color:rgb(180, 106, 241) ;
}

            /*partie présentation texte*/
h2
{
    color:rgb(180, 106, 241) ;
}        
p
{
    padding: 4% 0;    
}

        /*partie redirection sur autre page et animation*/

.shadow a
{
    color:rgb(180, 106, 241 );
    
}
.shadow
{
    margin: 0 auto;
    position: relative;
    background-color: #000;
    text-align: center;
    width: 50%;
    height: 6%;
    background: linear-gradient(0deg,#000,#262626);
}
.shadow:before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
    background-size: 400%;
    width:calc(100% + 4px) ;
    height:calc(100% + 4px) ;
    z-index: -1;
    animation: animate 15s linear 8s;
}
.shadow:after
{
   filter:blur(20px) ; 
}
@keyframes animate
{
    0%
    {
        background-position: 0 0;
    }
    50%
    {
        background-position: 300% 0;
    }
    100%
    {
        background-position: 0 0;
    }
}


            /*partie 3 colonnes*/
.categorie
{
    padding: 0;
}
.bordure
{
    border:1px solid rgb(180, 106, 241);
}
i
{
    padding-left: 2%;
}
            /*icone compétences*/
.iconecompetences 
{
    display: flex;
    justify-content: center;
}
h3
{
    text-align: center;
    font-size: 30px;
}
hr
{
    background-color: rgb(231, 229, 229);   
}          
            /*footer*/
footer
{
    border-top:3px solid rgb(219, 56, 198);
}
.fond
{
    background-color: rgb(32, 31, 31);
    color: white;
    padding-left: 10%;
}
form
{
    display:inline-block;
}
input,textarea
{
    max-width: 70%;
}
i
{
    color: rgb(180, 106, 241);
}
span
{
    color: rgb(180, 106, 241);
    font-size: 30px; 
}
.btn
{
    background-color: rgb(180, 106, 241);
    margin: 0 4%;
}

        /*paritie coordonnée*/
.cv
{
    color: rgb(180, 106, 241);
}
            /*flèche haut et bas*/
.top 
{
    position: fixed;   
    height: 10%; 
    bottom: 13%; 
    left: 78%; 
    cursor: pointer;
}
.bas
{
    position: fixed;       
    height: 3%; 
    bottom: 6%; 
    left: 78%;   
    cursor: pointer;
}

            /*média queries*/
@media screen and (min-width:320px)
{
    .container
    {
        padding:0 2%;
    }
   button
   {
       margin-left: 27%;
   }
   h2 /*mon et prenom*/
   {
       text-align: center;
   }
   .categorie
   {
       font-size: 20px;
       padding-left: 1%;
   }
   .iconecompetences li /*photofiltre...*/
   {
      margin: 0;
      padding: 0;
      font-size: 15px;
   }
   
   
}
@media screen and (min-width:576px)
{
      
}
@media screen and (min-width:768px)
{
    
}
@media screen and (min-width:992px)
{
   
}
@media screen and (min-width:1200px)
{
   
}