*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imgh1
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #616161;
    padding-top: 15px;
}