*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

        /*partie du header*/
header
{
    display: flex;
   /* justify-content: center;
    align-items: center;*/
}
.photo
{
    margin: 10px 150px 10px 10px;
}


b.rond  
{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    width: 1000px;
    height: 20px;
    border: 1px dashed #272727;
}
.cercle
{
    float: left;   
    margin:10px;
    width:120px;
    height:120px;
    text-align:center;
    border-radius:100px;
    line-height: 90px; /* 100 - 10 */
    margin-right: 300px;
    padding-top: 10px;
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}

        /*2ème partie*/
.ensemble
{
    background: url(image/fondgris.png)fixed no-repeat;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */  
}
h1
{
    display: flex;
    justify-content: center;
    margin: 20px;
    text-align: center;
   
}
section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h2
{
  padding: 20px 0;
    
}
p
{
   text-align: justify;
}
span
{
    color:#a88beb ;
    padding:7px;
    width: 50px;
    height: 50px;
    animation: span 12s linear infinite;

}
@keyframes span
{
    from
    {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(360deg);
    }
}







footer
{
    
        
}