body
{
    font-size: x-large;
}     
     /*partie menu*/
.gris
{
    background-color: rgb(231, 229, 229);
    
}
.texte
{
    font-weight: bold;
    font-size: 22px;
    margin-left: 25%;
}
        /*partie bannière*/
.img
{
    background-repeat:no-repeat ;
    background: cover;  
}
.bordure0
{
    border-top:3px solid rgb(219, 56, 198);
    border-bottom:3px solid rgb(219, 56, 198);
}
         /*partie compétences*/
h1
{
    text-align: center;    
}
p
{
    width: 90%;
    text-align: justify;
    margin-left: 3%;
}

        /*partie stage*/
center 
{
    margin-top: 3%;
}
h2
{
    font-size: 30px;
    text-align: center;
    margin: 6% 0;
    color: rgb(180, 106, 241);
}
.important
{
    border: 3px dotted rgb(180, 106, 241);
    padding: 2%;
}
    /*partie expériences professionnelles*/
li
{
    list-style-type: none;
    font-size: large;
}
.emploie      /*bordure dessus du footer*/
{
    margin-top: 3%;
    border-bottom:3px solid rgb(219, 56, 198);
}
i
{
    margin: 2% 2%;
}
    
            /*footer*/
footer
{
    border-top:3px solid rgb(219, 56, 198);

}            
.fond
{
    background-color: rgb(32, 31, 31);
    color: white;
    padding-left: 10%;
}
form
{
    display:inline-block;
}
input,textarea
{
    max-width: 70%;
}
i
{
    color: rgb(180, 106, 241);
    
}
span
{
    color: rgb(180, 106, 241);
    font-size: 30px; 
}
.btn
{
    background-color: rgb(180, 106, 241);
    margin: 0 4%;
}

        /*paritie coordonnée*/
.cv
{
    color: rgb(180, 106, 241);
}
        /*flèche haut et bas*/

.top 
{
    position: fixed; 
    margin-right:1%;
       
    height: 1%; 
    bottom: 5%; 
    right: 3%; 
    
    padding-bottom: 13%;
    cursor: pointer;
}
.bas
{
    position: fixed;
    margin-right:5%;
    width: 13%;   
    height: 2%; 
    bottom: 5%; 
    right: 4%;
    padding-bottom: 9%;
    cursor: pointer;
}

        /*média queries*/
@media screen and (max-width:320px)
{
    
    .terre  /*logo*/
    {
        width: 100%;
        height:80% ;  
    }
    button /*menu*/
    {
        margin-left: 25%;
    }
    .imgmetier
    {
        width: 80%;
        margin-left: 8%;
    }
            /*emploi*/
    h1 
    {
        font-size: 30px;
    }
    ul 
    {
        padding: 2px 0 1px 1px;
        font-size: 17px;
    }
    .emploie ul
    {
        font-size: 17px;
    }
    .fond
    {
        padding-left:0;
    }
            /*footer*/
   span /*footer contact*/
   {
       font-size: large;
   }
   .form-group .btn
   {
        margin: 0;
   }
   .coordonnee ul
   {
       padding-left:8%;
       margin-top: 0;
   }
   .top
   {
        width: 1%;
        height: 20%;
        margin-right: 1%;
        right: 13%;
   }
   .bas
   {
        width: 1%;
        right: 10%;
   }
}
@media screen and (max-width:576px)
{
    .imgmetier /*photo*/
    {
        margin-left: 14%;
    }
    .emploi
    {
        margin-top: 3%;
    }
    .emploi ul 
    {
       padding:0 0;
       font-size: 20px;
    }
    .top
    {
        width: 2%;
        height: 17%;
        right: 6%;
    }
    .bas
    {
        width: 1%;
        height: 10%;
        right: 6%;
    }
}
@media screen and (min-width:768px)
{
    
    .imgmetier
    {
        width: 100%;
       
    }
    p 
    {
        font-size: 22px;
    }
     /*expériences professionnelles*/
    
    .emploi ul
    {
        padding-left:0;  
    }
    /*footer*/
    span 
    {
        font-size:x-large;
    }
    .coordonnee ul
    {
        padding-left: 0;
    }
    
    .form-group .btn
   {
        margin: 0;
   }
   .top
   {
       width: 1%;
       margin: 2%;
       right: 5%;
       height: 17%;  
   }
   .bas
   {
       width: 2%;
       right: 1%;
       height: 10%;  
   }            
    
}
@media screen and (min-width:992px)
{
    .emploi
    {
        padding-left: 10%;
    }
    .top
   {
       width: 1%;
       margin: 2%;
       
       right: 2%;
       
   }
   .bas
   {
       width: 2%;
       right: -2%;  
   }
}

