   
                /*partie du header*/
header
{    
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 1000px;
}

.photo
{
    margin: 10px 150px 10px 10px;
    display: flex;
    padding: 3px;
}
  

b.rond  
{
    display: inline-block;
    text-align: center;
    width: 1000px;
    height: 10px;
    border: 1px dashed #272727;
    margin: 0 auto;
}
.cercle
{
    float: left;   
    margin:10px;
    width:100px;
    height:100px;
    text-align:center;
    border-radius:100px;
    line-height: 90px; /* 100 - 10 */
    margin-right: 90px;
}
.cercle1 
{
    background:rgb(23, 240, 222);
}
.cercle2
{
    background:rgb(23, 240, 222);
}
.cercle3
{   
    background:rgb(23, 240, 222);
} 
  

                